*{
    margin: 0;
}
body{
    font-family: tahoma;
    
}
.limita-largura {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: auto auto;
}
.secao{
    padding-top: 100px;
    padding-bottom: 100px ;

}
/*=== Estilos globais ===*/

.texto-azul{
    color: blue;
}
.texto-branco{
    color: #ffffff;
}
.texto-preto{
    color: black;
}

/*=== Seção topo ===*/
.topo{
    position: fixed;
    width: 100%;
    background-color: #3a07f5;
    color:#ffffff; 
    border-bottom: 1px solid white;  
}
a{
    color: blue;
    background-color: #ffffff;
    border-radius: 60px;
    padding: 2px 15px ;
    text-decoration: none;
    font-weight: bold;   
}
.topo .links{
    padding: 20px;
    text-align: center;
}
.links li{
    display: inline;
    padding: 0  12px;    
}
.links{
    padding: 14px 0;
}

/*===Seção sobre ===*/
.banner{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.intro{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 200px;
}
.sobre{
    display: flex;
    padding-top: 150px;
    
    justify-content: space-between;
    
   

}
.sobre-mim{
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%;
    
}
.sobre-mim p{
    line-height: 36px;
}

.sobre img{
    width: 20%;
    min-width: 200px;
    
    height: 20%;
    min-height: 200px;
    border-radius: 90%;
    

}

h3, h4{
    text-align: center;
    padding-top: 20px;
    
    
}
h3{
    
    padding-bottom: 50px;
    font-size: 32px;
    
}

/*===Seção habilidades ===*/
.habilidades{
    background-color: #3a07f5;
}
.galeria{
    
    display: flex;
    justify-content: center;
    
     
}
.galeria img{
    width: 120px;
    height: 150px;
    margin: 10px;
}
.imagem-sombra{
    box-shadow: 10px 10px 10px white;
}

/*=== Seção projetos ===*/

.logotipo{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
   
       
}
.itens-logotipos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logotipo img{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    margin: 15px;
}

.subtitulo{
    text-align: left;
    border-left: 1px solid blue;
    padding: 0 0 0 10px;
   
}

.websites{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;

}

.website{
    margin: 15px;
    border: 1px solid blue;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 20%;
}

.websites p{
    text-align: center;
    margin-top: 20px;
}
.websites img{
    width: 300px;
    height: 200px;;
}

/*=== Seção rodape ===*/
.rodape{
   
    background-color: #411ace;
     
    
}
.rodape h4{
    text-align: center;
    
    
}
.rodape .links{
    text-align: center;
    margin-bottom: 0;
}


