*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: tahoma;
    width: 100%;
    
    
    
}
/*=== Header ===*/ 
header{
    background-color: #1F2937;
    padding: 20px;
}

/*=== menu ===*/ 
nav#menu ul{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px;
    
}

nav#menu li{
    
    background-color: #008ccf;
    display: inline;
    align-items: center;
    justify-content: space-between;
    margin: 10px;  
}

nav#menu li:hover{
    background-color: #fff;
    color: #008ccf;
}

nav#menu a:hover{
    color: #008ccf;
}
a{
    color: #fff;
    border-radius: 60px;
    text-decoration: none;
    font-weight: bold; 
    padding: 20px;  
}

/*=== main ===*/
p{
    color: #fff;
}
section#sobre{
    background-color: #111827;
    
}
.info{  
    text-align: center;
    font-size: 24px;
    max-width: 1024px;
    margin: 0 auto;
}
.info h1{
    padding-top: 50px;
    color:#008ccf;
}

.info p{
    color:#fff;
    padding-top: 25px;
    padding-bottom: 50px;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;  
}

.card {
    width: 280px;
    border-radius: 4px;

  }

.container-image img{
    width: 100%;
    border-radius: 10px 10px 100px 0px;  
    padding-bottom: 20px;
}

.container-info h2{
    color: #008ccf;
    padding-bottom: 20px ;
}
/*=== Media  ===*/
@media (min-width:481px) and (max-width:968px){
    .container-info {
        display: flex;
        flex-direction: column;
        
        
      }
    .container{
        display: flex;
        padding-left: 20px;

    }
    .card{
        display: flex;
        
        width: 90%;   

    }
    
    .container-info{
        padding-left: 40px;
        padding-top: 20px;
        display: flex;
        
        
    }

    
    .container-image img{
        width: 200px;
        height: 200px;
        
    }

    .info{
        font-size: 24px;
        width: 90%;
    }

    

} 
@media (max-width:481px){
      .info{
        font-size: 20px;
        width: 80%;
      }
      
  }

 