body{
    font-family: tahoma;
    width: 100%;
    min-width: 320px;
    max-width: 1280pxpx;
    margin: 0 auto;
    
}
.limita-largura {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: auto auto;
}
.secao{
    padding-top: 100px;
    padding-bottom: 100px ;

}
/*=== Estilos globais ===*/


/*=== Seção topo ===*/
.topo{
    position: fixed;
    width: 100%;
    background-color: #3a07f5;
    color:#ffffff; 
    border-bottom: 1px solid white;  
}
a{
    color: #008ccf;
    background-color: #ffffff;
    border-radius: 60px;
    padding: 2px 15px ;
    text-decoration: none;
    font-weight: bold;   
}
.topo .links{
    padding: 20px;
    text-align: center;
}
.links li{
    display: inline;
    padding: 0  12px;    
}

.links{
    padding: 14px 0;
}

/*=== main ===*/
.info{  
    text-align: center;
    font-size: 32px;
    padding: 50px;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid red;  
}

.card {
    width: 280px;
    border-radius: 4px;
  }

.container-image img{
    width: 100%;
    border-radius: 4px 4px 0px 0px;  
}




  /*=== Media  ===*/
  @media (min-width:481px) and (max-width:968px){
    .container-info {
        display: flex;
        flex-direction: column;
        
        
      }
    .container{
        background-color: #008ccf;
        display: flex;
        padding-left: 20px;

    }
    .card{
        display: flex;
        background-color: aquamarine;
        width: 600px;   

    }
    
    .container-info{
        padding-left: 10px;
        background-color: #3a07f5;
        display: flex;
        
    }

    
    .container-image img{
        width: 200px;
        
    }

    .info{
        font-size: 24px;
    }

} 
  @media (max-width:481px){
      .info{
        font-size: 20px;
      }
  }

 