
body{
    font-family: Verdana;
    font-size: 22px;
    color: rgb(52, 127, 219);
    background-color: rgb(242, 242, 248);
    margin: 0
}
div{
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid  rgb(52, 127, 219); 
    padding: 50px;
}

h1{
    text-align: center;
    padding: 10px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 25px;
}
h3{
  
    padding: 25px;
}
li{
    color: rgb(39, 134, 189);
    padding: 15px;
}
img{
    width: 600px;
}



p{
    text-align: center;
    color: rgb(39, 134, 189);
    margin: 15px auto 30px auto;
    padding-bottom:50px ;
}
