body{
    font-family: Verdana;
    font-size: 22px;
    color: rgb(52, 127, 219);
    background-color: rgb(13, 13, 14);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-decoration: underline;
}
li{
    color: rgb(39, 134, 189);
}
